{% extends "main/base.html" %}

{% block content %}

<br><br>

Email:<br>

<table>
    <tr>
        <th>From</th>
        <td>{{email.from_address}}</td>
    </tr><tr>
        <th>Subject</th>
        <td>{{email.subject}}</td>
    </tr><tr>
        <th>Content</th>
        <td>{{email.message.content}}</td>
    </tr>
        

</table>

{% endblock %}
