{% extends "main/base.html" %}

{% block content %}

<a href="{% url "emails_refresh" %}">Refresh</a>
<br><br>
<ul>

    {% for email in emails %}

        <li><a href="{% url "emails_detail" email.id %}">{{ email.subject }}&nbsp;&nbsp;</a></li>

    {% endfor %}

</ul>

{% endblock %}
