{% extends "main/base.html" %}

{% load i18n %}

{% block content %}

Your accounts:<br>

<ol>
    {% for account in accounts %}

        <li>{{ account.username }}</li>

    {% endfor %}

</ol>
<br><br>

<a href="{% url "new_account_picker" %}"> {% trans "Add a new account" %} </a>

<!-- if we want to open the account picker in a new window:

<script>
addAccountsUrl = "{% url "new_account_picker" %}"
</script>

<a href="javascript:void(0)" onclick="window.open(addAccountsUrl, {% trans "Add a new account" %}, #'width=700,height=600')">
#Add a new account (new window)
#</a>--> 


{% endblock %}
