{% extends "main/base.html" %}

{% load i18n %}

{% block content %}
<br>
<br>

<a href="{% url 'new_account_auth' 'gl' %}"> {% trans "Add a new Google account" %} </a>
<br>
<a href="{% url 'new_account_auth' 'fb' %}"> {% trans "Add a new Facebook account" %} </a>

{% endblock %}
