{% extends "main/base.html" %}

{% block content %}


{% if form.errors %}
<p>Oh dear, there are some errors:(</p>
{% endif %}

<br>
<form enctype="multipart/form-data" method="post" action="{% url "profile_edit" %}">
{% csrf_token %}
{{ form.as_p }}<br>

<input type="submit" value="Save" />
<input type="reset" value="Reset" />
<input type="hidden" value="{{ next }}" name="next" />
<a href="{% url "profile" %}"> <button type="button"> Cancel </button></a>
</form>

{% endblock %}