{% extends "main/base.html" %}

{% load i18n %}

{% block content %}

{% if form.errors %}
<p>Oh dear, there are some errors:(</p>
{% endif %}

<br>
<div id="profile_info">
	<table>
		<tr>
			<td>{% trans "Recover Email Address:" %}</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>{% trans "Name:" %}</td>
			<td>{{profile.forename}} {{profile.surname}}</td>
		</tr>
		<tr>
			<td>{% trans "Bio:" %}</td>
			<td>{{profile.bio}}</td>
		</tr>
	</table>
	<a href="{% url "profile_edit" %}">
		<button type="button">
			edit
		</button>
	</a>
	 
</div>

{% endblock %}