{% extends "main/base.html" %}

{% block content %}

{% if form.errors %}
<p>Oh dear, there are some errors:(</p>
{% endif %}

<br>
<form method="post" action="{% url "sign_up" %}">
{% csrf_token %}
{{ form.as_p }}<br>

<input type="submit" value="Login" />
<input type="reset" value="Reset" />
<input type="hidden" value="{{ next }}" name="next" />
</form>

{% endblock %}