{% extends "main/base.html" %}

{% block content %}

<h3>{{card.title}}</h3>

<br><br>

 {%trans "Priority:" %} {{card.priority}}

<br><br>

{% trans "Emails:" %}<br>

<table>

    <tr>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Content" %}</th>
    </tr>

    {% for email in emails %}

        <tr>
            <td>{{email.from_address}}</td>
            <td>{{email.subject}}</td>
            <td>{{email.content}}</td>
        </tr>
        
    {% endfor %}

</table>

{% endblock %}
