{% extends "main/base.html" %}

{% block content %}

<a href="{% url "refresh" %}">{% trans "Refresh" %} </a>
<br><br>
<ul>

    {% for card in emails %}

        <li><a href="{% url "emails_detail card.id" %}">{{ card.title }}&nbsp;&nbsp;(emails: {#{{card.emails.count}}#}</a></li>

    {% endfor %}

</ul>

{% endblock %}
