<!DOCTYPE html>
<html lang="en" xml:lang="en">

    {% load i18n %}
    {% load staticfiles %}
    
    <head>
        <title>Project Santaclara</title>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="title"><h3>Project Sunnyvale</h3></div>
        <div id="nav_bar">
            {% if user.is_authenticated %}
                <!--{% blocktrans with user.username as username%} Welcome, {{username}}. {% endblocktrans %}-->
                <a href="{% url "logout" %}"> {% trans "Logout" %} </a> &nbsp;&nbsp;
                <a href="{% url "accounts_list" %}"> {% trans "Accounts" %} </a> &nbsp;&nbsp;
                <a href="{% url "profile" %}">
                        {{user.username}}
                        <img src="{{user.get_santaclara_profile.profile_pic.url}}" width="30" height="30">
                </a>
                
            {% else %}
                <a href="{% url "login" %}"> {% trans "Login" %} </a>&nbsp;&nbsp;
                <a href="{% url "sign_up" %}"> {% trans "Sign Up" %} </a>
            {% endif %}
        </div>
        <hr>

        <div id="content">
        {% block content %}
            <p>Lorem Ipsum</p>
        {% endblock %}
        </div>
    </body>
</html>
