{% extends "main/base.html" %}

{% load i18n %}

{% block content %}

{% if form.errors %}
	<p> {% trans "Your username and/or password did not match. Please try again." %} </p>
{% endif %}

<br>
<form method="post" action="{% url "login" %}">
{% csrf_token %}
{{ form.as_p }}<br>

<input type="submit" value= {% trans "Login" %} />
<input type="reset" value= {% trans "Reset" %} />
<input type="hidden" value="{{ next }}" name="next" />
</form>

{% endblock %}
