{% extends "main/base.html" %}

{% block content %}
<br>
<br>

<a href="{% url 'new_account_auth' 'gl' %}">Add a new Google account</a>
<br>
<a href="{% url 'new_account_auth' 'fb' %}">Add a new Facebook account</a>

{% endblock %}