<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>Project Sunnyvale</title>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="title"><h3>Project Sunnyvale</h3></div>
        <br>
        <div id="login_text">
            Boom! It's a test page
        </div>
        <hr>
    </body>
</html>
